<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PayrollDb"
         connectionString="Data Source=|DataDirectory|payroll.db"
         providerName="Microsoft.Data.Sqlite" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <qualifyAssembly partialName="SQLitePCLRaw.core"
                       fullName="SQLitePCLRaw.core, Version=2.0.7.880, Culture=neutral, PublicKeyToken=1488e028ca7ab535" />
      <qualifyAssembly partialName="SQLitePCLRaw.batteries_v2"
                       fullName="SQLitePCLRaw.batteries_v2, Version=2.0.7.880, Culture=neutral, PublicKeyToken=8226ea5df37bcae9" />
      <qualifyAssembly partialName="SQLitePCLRaw.provider.e_sqlite3"
                       fullName="SQLitePCLRaw.provider.e_sqlite3, Version=2.0.7.880, Culture=neutral, PublicKeyToken=502ada25950db28f" />
      <qualifyAssembly partialName="SQLitePCLRaw.nativelibrary"
                       fullName="SQLitePCLRaw.nativelibrary, Version=2.0.7.880, Culture=neutral, PublicKeyToken=1488e028ca7ab535" />
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.99.99.99" newVersion="2.0.7.880" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.batteries_v2" publicKeyToken="8226ea5df37bcae9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.99.99.99" newVersion="2.0.7.880" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.provider.e_sqlite3" publicKeyToken="502ada25950db28f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.99.99.99" newVersion="2.0.7.880" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.nativelibrary" publicKeyToken="1488e028ca7ab535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.99.99.99" newVersion="2.0.7.880" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Sqlite" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.99.99.99" newVersion="6.0.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
