<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PayrollDb"
         connectionString="Data Source=|DataDirectory|payroll.db"
         providerName="Microsoft.Data.Sqlite" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
</configuration>
